<div class="min-h-[100vh] min-w-sm bg-veryLightGrayishBlue dark:bg-veryDarkBlue">
  <div class="h-[27vh] bg-mobile-light dark:bg-mobile-dark bg-cover sm:h-[30vh] sm:bg-desktop-light sm:dark:bg-desktop-dark">
  </div>

  <div class="absolute w-full top-[2.5rem] z-10 mx-auto">
    <div class="mx-auto w-[90%] max-w-[30rem] min-w-sm px-1">
      <app-header />
      <div class="flex flex-col gap-5">
        <todo-input (todoInput)="onInput($event)" />
        <todos-list />
      </div>
      <p class="text-center text-sm text-darkGrayishBlue mt-10">Drag and drop to reorder list</p>
    </div>
  </div>
</div>

